{% extends 'layout.twig' %}

{% block head %}
 <title>Liste des utilisateurs</title>
{% endblock %}

{% block content %}

  <a href="index.php?page=home">Page d'accueil</a>
        
    <p>Utilisateurs :</p>

      {% for user in users %}
    
        <div class="user">
          <h3>
            {{user.username}}
          </h3>
        
          <p>
            Mot de passe:
           {{user.password}}</br>
            <a href="index.php?page=editUser&amp;id={{user.id}}"><img src="img/edit.png"></a>
            <a href="index.php?page=delete&amp;id={{user.id}}"><img src="img/delete.png"></a> <!---->
              </br>
          </p>
        </div> 

      {% endfor %}

{% endblock %}

{% block nextpage %}
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="index.php?page=listeArticles">Older Posts &rarr;</a>
  </div>
{% endblock %}

