{% extends 'layout.twig' %}

{% block head %}
 <title>Vous etes connecté !</title>
{% endblock %}


{% block content %}

  {% if session.pseudo is defined %}
       <p> Bonjour {{ session.pseudo }}, vous êtes bien connecté</p>
  {% endif %}
        
  <a href="index.php?page=home">Voir les derniers articles</a> 
  

  

{% endblock %}

{% block nextpage %}
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="index.php?page=listeArticles">Tous les articles &rarr;</a>
  </div>
{% endblock %}