{% extends 'layout.twig' %}

{% block head %}
 <title>Modifié l'article</title>
{% endblock %}

{% block tiny %}
  <script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=yz1dl2jhkmtb0ke23e6t7hbzz91j56ylmje1ow9b02jsm8ao'></script>
  <script>
  tinymce.init({
    selector: '#mytextarea'
  });
  </script>

{% endblock %}

{% block content %}

  <h1>Modifier l'article:</h1>

  <form method="POST" action="index.php?page=updatePost">
    <p> <label for="title">Titre: </label>
    <input type="text" name="title" value={{article.title}}></p>
    <label for="content">Contenu:</label>
    <textarea id="mytextarea" name="content">{{article.content}}</textarea>
    <input type="submit">
  </form>

  <a href="index.php?page=deconnexion"><em>Déconnexion</em></a>

{% endblock %}

{% block nextpage %}
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="index.php?page=listeArticles">Tous les articles &rarr;</a>
  </div>
{% endblock %}

